
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    @*RenderBody() yazısını Razor Syntax ile yazalım bu kısma diğer sayfaların içerikleri gelecek ve bu sayfa sabit kalacak.*@
</body>
</html>
