<div class="p-4 text-center">
    <h2>the course is going to start soon   </h2>
    <h4>You are invited</h4>

    <a asp-action="AddRequest" class="btn btn-primary">Create Request </a>    @* <a>content </a>   alternate asp action *@
</div>