@model CourseApp.Models.Request
@{
    ViewData["Title"] = "Thankss  ViewData[Title]";
}

<div class="text-center">
    <h2>Thank You @Model.Name</h2>
    <h4>our course going to be nice</h4>
</div>
<a asp-action="List" class="btn btn-primary">
CHECH WHO ARE COMİNG
</a>

